@CHARSET "ISO-8859-1";
.hidden {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.error {
	border-top: 2px solid #CC0033;
	border-left: 2px solid #CC3300;
	border-right: 2px solid #CC3300;
	border-bottom: 2px solid #FF3333;
    color: #CC0033;
}

label.error {
	color: #CC0033;
	border: none;
}